{% extends 'navbar.html' %} {% block content %}
<!-- QR Code Form -->
<div
  class="container mt-5"
  style="
    width: 600px;
    border: 1px solid #d3d3d3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.2);
  "
>
  <form action="{% url 'generate_qr_code' %}" , method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{form.as_p}}

    <button type="submit" , class="btn btn-primary">Generate QR Code</button>
  </form>
</div>
{% endblock %}
