{% extends 'navbar.html' %}

<div
  style="
    background-image: url(https://images.pexels.com/photos/3008509/pexels-photo-3008509.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
  "
>
  {% block content %}

  <div
    class="container text-center mt-5"
    style="color: black; z-index: 1; position: relative"
  >
    <h1 class="mx-auto fs-1" style="max-width: 900px">
      QR Code Generator - Weather App
    </h1>

    <p
      class="mx-auto mt-3 fs-20"
      style="font-size: 25px; max-width: 900px; margin-bottom: 60px"
    >
      Generate QR codes and check the weather in one click – simple, fast, and
      free!
    </p>
  </div>

  <!-- Weather Report Section -->
  <div
    style="
        color: #ffff; 
        border: 0px solid #ffff; 
        height: 500px; 
        width: 900px; 
        border-radius:20px;
        background-color: rgba(255, 0, 0, 0.5);
        margin: auto; 
           
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); 
        background-image: url('{% if exception_occurred %}https://images.pexels.com/photos/3008509/pexels-photo-3008509.jpeg?auto=compress&cs=tinysrgb&w=1600{% else %}{{ image_url }}{% endif %}');
        
    "
    class="text-center"
  >
    <marquee
      behavior="scroll"
      direction="right"
      class="mt-5 fs-3"
      style="box-shadow: 10px #fff; color: black"
    >
      Check Your City Weather
    </marquee>

    <!-- Weather Search Form -->
    <form method="get" class="mt-5">
      <input
        type="text"
        name="city"
        style="width: 50vh; height: 35px; border-radius: 10px"
        class="text-center"
        placeholder="Enter city"
        value="{{ weather_data.city|default:'' }}"
      />
      <button type="submit" class="btn btn-success">Search</button>
    </form>

    <!-- Display Weather Data -->
    <div
      class="display_main"
      style="display: flex; justify-content: space-evenly; align-items: center;color:black"
    >
      {% if weather_data %}
      <div class="one">
        <div class="city"><h2 class="mt-3">{{ weather_data.city }}</h2></div>
        <div class="date mt-5" style="font-size: 25px">
          <h4>{{ weather_data.day }}</h4>
        </div>
      </div>
      <div class="two">
        <div class="temp mt-3" style="font-size: 25px">
          <h4>{{ weather_data.temperature }}°C</h4>
        </div>
        <div class="desc" style="font-size: 25px">
          <h4 class="mt-5" style="color:black">
            {{ weather_data.description }}
          </h4>
        </div>
      </div>
    </div>
      <div class="icon mt-5">
        <p>
          <img
            src="http://openweathermap.org/img/w/{{ icon|default:'01d' }}.png"
            width="80px"
            alt="Weather Icon"
            style="border-radius: 25px"
          />
        </p>
      </div>
      {% elif error_message %}
      <p style="color: red">{{ error_message }}</p>
      {% endif %}
    
  </div>

  {% endblock %}
</div>
